
$task-done-color: #a5b1c2;

.checkbox {
  margin-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.task {
  border-radius: 5px;
  display: flex;
}

.task-title {
  line-height: 30px;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

@keyframes task-done {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.task-done {
  position: relative;
  color: $task-done-color;
}

.task-done::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: $task-done-color;
  animation-name: task-done;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
